html, body, .content {
  height: 100%;
  display: block;
  font-family: 'Noto Sans S Chinese';
}

.appContent {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 800px;
  background: #6EBCBC;
  position: relative;
  overflow: hidden;
}

/*开始按钮*/
.btn {
  border: 0;
  padding: 0 1rem 0 2rem;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline:none;
  border-radius: 0.5px;
}
.startBtn {
  width: 200px;
  height: 60px;
  display: block;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
  background-color: #7986cb;
}

.startBtn:hover {
  background-color: #6986cb;
  box-shadow: 1px 3px 2px #777;
}

/*重新开始按钮*/
.restartBtn {
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50px;
  right: -250px;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all .5s ease;
}

.restartBtn.show {
  opacity: 1;
  right: 50px;
}

.restartBtn .restartIcon:hover {
  background-color: rgba(255,255,255,0.3);
  box-shadow: .5px .5px .5px #fff;
}
.restartBtn .restartIcon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #fff;
  background: url('../img/home.png') no-repeat;
  -webkit-background-size: 80%;
  background-size: 80%;
  background-position: 50% 50%;
}

/*进度*/
.progressBox {
  display: block;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 50px;
  left: -250px;
  color: #E7EBEE;
  opacity: 0;
  transition: all .5s ease;
}

.progressBox.show {
  left: 50px;
  opacity: 1;
}

.progressTitle {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.progressNum {
  font-family: menlo;
  margin: 0;
  font-size: 90px;
  font-weight: normal;
}
.progressNum span {
  padding: 2px;
}

/*卡片*/
.card {
  width:70%;
  height: 320px;
  position: absolute;
  background-color: #37526D;
  opacity: 0.9;
  color: #ffe;
  overflow: hidden;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: all .5s ease;
}

.card .content {
  margin: 80px 40px 0;
  text-align: center;
  line-height: 1;
}

.questionCardBox .questionContent {
  font-size: 36px;
}

.questionCardBox.show {
  top: 200px;
}

.chooseBtn {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  line-height: 1;
}

.chooseBtn .btn {
  height: 50px;
  font-size: 25px;
  line-height: 1;
  width: 30%;
  margin: 0 10%;
  vertical-align: middle;
  transition: all .5s ease;
}

.chooseBtn .trueBtn {
  background-color: #41A30D;
  border: 1px solid #444;
}

.chooseBtn .falseBtn {
  background-color: #D33502;
  border: 1px solid #444;
}

.chooseBtn .trueBtn:hover {
  color: #333;
  background-color: #03C383;
  border: 1px solid #fff;
}

.chooseBtn .falseBtn:hover {
  color: #111;
  background-color: #D73027;
  border: 1px solid #fff;
}

.resultCardBox {
  opacity: 1;
  transition: all .8s ease;
}
.resultCardBox.show {
  top: 200px;
}

.resultCardBox .answerContent {
  font-size: 50px;
}

.chooseBtn .confirmBtn {
  background-color: #5CBDDD;
  border: 1px solid #ccc;
}

.chooseBtn .confirmBtn:hover {
  color: #111;
  background-color: #1C5F83;
  border: 1px solid #fff;
}
